body {
    background-color: white;
    -webkit-user-select: none; /* Dành cho Safari */
    -moz-user-select: none; /* Dành cho Firefox */
    -ms-user-select: none; /* Dành cho Internet Explorer/Edge */
    user-select: none; /* Tiêu chuẩn */
}

.title_template {
    margin: 15px 5px 0px 5px;
    font-size: 1.1em !important;
    line-height: 23px !important;
    color: var(--formcolor) !important;
}

.form-horizontal #bodyForm {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

:root {
    --formcolor: #008CE3;
}

.text-template {
    color: var(--formcolor) !important;
}

.btn-template {
    background-color: var(--formcolor) !important;
    color: #fff;
}

    .btn-template:hover {
        background-color: #0081d1 !important;
        color: #fff;
    }

.bgc-template {
    background-color: #008CE3 !important
}


/** ô phần trăm */
.input_spinner {
    width: 40px !important;
}

/* select2 */
.select2-selection.select2-selection--single {
    border-radius: 1.25rem !important;
    height: calc(1.5em + 0.75rem + 2px) !important;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.select2-selection__arrow {
    top: 5px !important;
    right: 5px !important;
}

.select2-selection__rendered {
    padding-left: 0px !important;
}

.select2-selection__clear {
    display: none;
}

.select2-search:before {
    margin-top: 8px !important;
}

.input-floating-label .form-control {
    color: #444 !important;
}

.input-floating-label input:focus ~ .floating-label,
.input-floating-label .select2-container--below ~ .floating-label,
.input-floating-label span.select2:has(.select2-selection__clear) ~ .floating-label,
.input-floating-label textarea:focus ~ .floating-label,
.input-floating-label input:not(:placeholder-shown) ~ .floating-label,
.input-floating-label .floating-label.active,
.input-floating-label textarea:not(:placeholder-shown) ~ .floating-label {
    color: #2971bf !important;
    font-size: 12px !important;
    font-weight: 500 !important;
    top: 0;
}

    .input-floating-label input:focus ~ .floating-label .text-danger,
    .input-floating-label .select2-container--below ~ .floating-label .text-danger,
    .input-floating-label span.select2:has(.select2-selection__clear) ~ .floating-label .text-danger,
    .input-floating-label textarea:focus ~ .floating-label .text-danger,
    .input-floating-label input:not(:placeholder-shown) ~ .floating-label .text-danger,
    .input-floating-label .floating-label .text-danger.active,
    .input-floating-label textarea:not(:placeholder-shown) ~ .floating-label .text-danger{
        color: #d52727 !important;
        font-size: 12px !important;
        font-weight: 500 !important;
        top: 0;
    }


.field-validation-error {
    margin-left: 10px;
    font-size: 0.9rem;
    line-height: 1rem;
    padding-top: 5px;
}

input[readonly], textarea[readonly] {
    color: #51575d !important;
    /*background-color: #d3d3d312;*/
}

.floating-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: auto;
}

.form-horizontal .input-floating-label .floating-label {
    left: 0.5rem;
    line-height: 1rem;
}

.form-horizontal .form-control {
    border-radius: 10px;
}

.floating-label .text-danger {
    color: unset !important;
}

.dp-modal .dp {
    font-size: 1em !important;
}

.dp-cal-footer {
    display: none !important;
}

.dp-cal-month,
.dp-cal-year {
    display: inline-block;
    font-size: 1.4em;
    padding: 4px 8px 0px 8px;
    outline: none;
}

.dp-cal-header {
    padding-bottom: 0px;
}

.dp {
    padding-top: 0px !important;
}


/* Responsive overrides */
@media (max-width: 480px), (max-height: 480px) {
}

.input-floating-label input.form-control,
.input-floating-label textarea.form-control {
    padding: 20px 10px !important;
}

.form-control[readonly] {
    padding: 25px 10px 20px 10px !important;
}

input {
    line-height: 3rem !important;
}

.select2-search__field {
    line-height: 25px !important;
}

textarea {
    resize: none !important;
    /* Ẩn thanh cuộn dọc, thanh cuộn ngang vẫn hoạt động */
    overflow-y: hidden;
}

.w-100px {
    width: 100px !important;
}

/*dropzone*/
.dropzone .dz-preview .dz-image, .dz-image img {
    width: 100% !important;
    object-fit: cover;
    background: linear-gradient(to bottom, #eee, #ddd);
}

.dropzone .dz-preview .dz-details {
    opacity: 1 !important;
}