# ==========================================
# Visual Studio / Environment files
# ==========================================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.DotSettings.user
*.lock

# ==========================================
# Build outputs (bin and obj)
# ==========================================
[Bb]in/
[Oo]bj/
*.log

# ==========================================
# Whitelist / Keep publish_source, version & external dlls
# ==========================================
!publish_source/
!publish_source/**
!version/
!version/**
!dlls/
!dlls/**

