<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="TiSunService" type="TiSun.TiSunSection, TiSun, Version=2.2.1.0, Culture=neutral, PublicKeyToken=eadb47849839a332"
      restartOnExternalChanges="true" requirePermission="false"/>
  </configSections>
  <appSettings configSource="Configs\AppSettings.config"/>
  <!--<connectionStrings>
	    <add name="TOC.Sys.Conn" connectionString="Data Source=10.57.47.2;Initial Catalog=crm.vnptkhanhhoa.vn;Persist Security Info=True;User Id=tan.td;Password=Tdtan@123;Connect Timeout=200; Pooling=true; Max Pool Size=200;" />
	    <add name="TOC.Conn.Major" connectionString="Data Source=10.57.47.2;Initial Catalog=crm.vnptkhanhhoa.vn;Persist Security Info=True;User Id=tan.td;Password=Tdtan@123;Connect Timeout=200; Pooling=true; Max Pool Size=200;" />
	    <add name="TOC.Conn.Sys" connectionString="Data Source=10.57.47.2;Initial Catalog=crm.vnptkhanhhoa.vn;Persist Security Info=True;User Id=tan.td;Password=Tdtan@123;Connect Timeout=200; Pooling=true; Max Pool Size=200;" />
	    <add name="TOC.Conn.Logs" connectionString="Data Source=10.57.47.2;Initial Catalog=crm.vnptkhanhhoa.vn;Persist Security Info=True;User Id=tan.td;Password=Tdtan@123;Connect Timeout=200; Pooling=true; Max Pool Size=200;" />
    </connectionStrings>-->
  <connectionStrings>
    <add name="TOC.Sys.Conn" connectionString="$(ReplacableToken_TOC.Sys.Conn-Web.config Connection String_0)"/>
    <add name="TOC.Conn.Major" connectionString="$(ReplacableToken_TOC.Conn.Major-Web.config Connection String_0)"/>
    <add name="TOC.Conn.Sys" connectionString="$(ReplacableToken_TOC.Conn.Sys-Web.config Connection String_0)"/>
    <add name="TOC.Conn.Logs" connectionString="$(ReplacableToken_TOC.Conn.Logs-Web.config Connection String_0)"/>
  </connectionStrings>
  <TiSunService defaultProvider="CenIT.Provider.Sys" enableTrace="false" templateDirectory="">
    <providers>
      <clear/>
      <add name="CenIT.Provider.Sys" type="TiSun.SqlDataProvider, TiSun" connectionStringName="TOC.Conn.Sys" generatedNamespace="CenIT.Solutions.Models"
        generateLazyLoads="true"/>
      <add name="CenIT.Provider.Major" type="TiSun.SqlDataProvider, TiSun" connectionStringName="TOC.Conn.Major" generatedNamespace="CenIT.Solutions.Models"
        generateLazyLoads="true"/>
      <add name="CenIT.Provider.Log" type="TiSun.SqlDataProvider, TiSun" connectionStringName="TOC.Conn.Logs" generatedNamespace="CenIT.Solutions.Models"
        generateLazyLoads="true"/>
      <add name="CenIT.Provider.Enterprise" type="TiSun.SqlDataProvider, TiSun" connectionStringName="TOC.Conn.Major"
        generatedNamespace="CenIT.Solutions.Models" generateLazyLoads="true"/>
    </providers>
  </TiSunService>
  <system.web>
    <customErrors mode="Off"/>
    <compilation targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8" requestValidationMode="2.0" maxRequestLength="1048576"/>
    <!--<membership defaultProvider="AppMembership">
         <providers>
              <clear />
              <add name="AppMembership" type="CenIT.Providers.AppMembership.AppMemberShipProvider" />
         </providers>
    </membership>-->
    <globalization uiCulture="en" culture="en-GB" fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8"/>
    <authentication mode="Forms">
      <forms loginUrl="/Account/Login" protection="All" timeout="30" name=".ASPXAUTH" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="/"
        cookieless="UseDeviceProfile" enableCrossAppRedirects="false"/>
    </authentication>
    <httpHandlers>
      <add path="*.js" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
      <add path="*.css" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
      <add path="*.cshtml" verb="*" type="System.Web.HttpNotFoundHandler"/>
      <!--<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />-->
    </httpHandlers>
    <!--<httpModules>
      <add name="measure" type="TSFramework.Core.Globals.MeasureModule" />
    </httpModules>-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.20.0.0" newVersion="2.20.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.68.0.0" newVersion="1.68.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.68.0.0" newVersion="1.68.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.68.0.0" newVersion="1.68.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AngleSharp" publicKeyToken="e83494dcdc6d31ea" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.4.0.0" newVersion="1.4.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-33.1462.46.0" newVersion="33.1462.46.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <httpErrors existingResponse="PassThrough"/>
    <security>
      <requestFiltering>
        <!-- The value is in bytes -->
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <handlers>
      <add name="JavaScript" path="*.js" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
      <add name="StyleSheet" path="*.css" verb="GET,HEAD" type="System.Web.StaticFileHandler"/>
      <add name="BlockViewHandler" path="*.cshtml" verb="*" preCondition="integratedMode" type="System.Web.HttpNotFoundHandler"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler"
        preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00"/>
      <remove fileExtension=".ttf"/>
      <mimeMap fileExtension=".ttf" mimeType="application/octet-stream"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
      <remove fileExtension=".webp"/>
      <mimeMap fileExtension=".webp" mimeType="image/webp"/>
    </staticContent>
    <applicationInitialization doAppInitAfterRestart="true">
      <add initializationPage="/Account/Login"/>
      <add initializationPage="/Cate/DigitalSales/Index"/>
      <add initializationPage="/Cate/RM_BusinessOpportunity/Index"/>
    </applicationInitialization>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<add name="measure" type="TSFramework.Libs.Extensions.MeasureModule" />-->
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701;612;618"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4"
        compilerOptions="/langversion:default /nowarn:41008,40000,40008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: 0BBB9BE8-79D6-4A04-81DF-615AE831F88C-->