<?xml version="1.0"?>

<appSettings>
 <add key="owin:AutomaticAppStartup" value="true" />
 <add key="webpages:Version" value="3.0.0.0" />
 <add key="webpages:Enabled" value="false" />
 <add key="ClientValidationEnabled" value="true" />
 <add key="UnobtrusiveJavaScriptEnabled" value="true" />
 <add key="MaintenanceMode" value="false" />
 <add key="LogPath" value="Contents/Logs" />
 <add key="LogFile" value="LogsFile.log" />
 <add key="FlushAtAge" value="20" />
 <add key="FlushAtQty" value="1" />
 <add key="ImportTempPath" value="~/Contents/ImportTemp/" />
 <add key="InvLogPath" value="InvLogs" />
 <add key="InvLogFile" value="InvLogsFile.log" />
 <add key="App_Register_Job" value="1" />
 <add key="JobFolderPath" value="/Libraries/Jobs" />
 <add key="JobLogPath" value="Contents/JobLogs" />
 <add key="JobLogFile" value="JobLogsFile.log" />
 <add key="Issuer" value="http://jwtauthzsrv.azurewebsites.net" />
 <add key="AuthenticationExpire" value="7" />
 <add key="App_MessageTableName" value="Sys_Messages" />
 <add key="App_MessageTypeDataProvider" value="CenIT.Provider.Sys" />
 <add key="App_LanguageCode" value="vi-VN" />
 <add key="App_CookieExpired" value="7" />
 <add key="AppAvatarDefault_URL" value="/Contents/Base/imgs/avatar-default.png" />
 <add key="AppTouristAvatarDefault_URL" value="/Contents/imgs/DuKhach/default-avatar.jpg" />
 <add key="AppAvatarFolder_Path" value="/Contents/imgs/avatars" />
 <add key="AppTouristAvatarFolder_Path" value="/Contents/imgs/DuKhach" />
 <add key="App_DefaultDataProvider" value="CenIT.Provider.Sys" />
 <add key="AppHasEncrypt" value="false" />
 <add key="App_ProcConfigPath" value="/App_Data" />
 <add key="App_AuthorityLibPath" value="/Libraries/Authorities" />
 <add key="App_LibraryProcPath" value="/Libraries/Procedures" />
 <add key="App_AuthorityType" value="SQLProcAuthority" />
 <add key="MembershipProviderNotRedirect" value="VNPTEmailMembership,AppMembership" />
 <add key="AppMembershipType" value="AppMembership" />
 <add key="AppOwnerDisplayName" value="VNPT_CRM" />
 <add key="Host_Protocol" value="http://" />
 <add key="TypeSupportImageFolder_Path" value="/Contents/imgs/support/type" />
 <add key="SupportImageFolder_Path" value="/Contents/imgs/support" />
 <add key="NewsImageFolder_Path" value="/Contents/imgs/news" />
 <add key="AvatarPath" value="~/Contents/imgs/avatars/" />
 <add key="LanguageImageFolder_Path" value="Contents/imgs/nation/language" />
 <add key="ImageReview_Path" value="~/Contents/imgs/Reviews/" />
 <add key="ImageThumbPlan_Path" value="~/Contents/imgs/plans/" />
 <add key="SysNotificationsImageFolder_Path" value="/Contents/imgs/notification" />
 <add key="AppFileMauFolder_Path" value="/Contents/File/FileMau" />
 <add key="AppFileConfirmFolder_Path" value="/Contents/File/FileConfirm" />
 <add key="DownloadFileFolder_Path" value="/Contents/File/DownloadFile" />
 <add key="Key_Private_API" value="MIGfMA0GCVnptKhanhHoaSqGSIb3DQEBAQUAA4GNADCBiQKBgQDHISoDuLichKhanhHoad22457c5b3086aebc8c3e0fd92580624" />
 <add key="Key_Get_Department_API" value="https://vnptkhanhhoa.cenit.vn/api/Hrm/LayDanhSachDonVi" />
 <add key="Key_Get_User_API" value="https://vnptkhanhhoa.cenit.vn/api/Hrm/LayDanhSachNhanVien" />
 <add key="Key_Get_Position_API" value="https://vnptkhanhhoa.cenit.vn/api/Hrm/LayDanhSachChucDanh" />
 <add key="Key_Send_SMS_API" value="https://vnptkhanhhoa.cenit.vn/api/Util/SendSms" />
 <add key="Email_Host" value="email.vnpt.vn" />
 <add key="Email_Port" value="587" />
 <add key="Email_UserCredential" value="portal-noreply.kha@vnpt.vn" />
 <add key="Email_UserCredentialName" value="VNPT_CRM" />
 <add key="Email_UPass" value="G3g@Ht%H" />
 <add key="EmailTemplates_TemplateRefuseBusiness" value="/Contents/Modules/Sys/EmailTemplates/_TemplateRefuseBusiness.cshtml" />
 <add key="EmailTemplates_TemplateNewTourist" value="/Contents/Modules/Sys/EmailTemplates/_TemplateNewTourist.cshtml" />
 <add key="EmailTemplates_TemplateWarning" value="/Contents/Modules/Sys/EmailTemplates/_TemplateWarning.cshtml" />
 <add key="EmailTemplates_TemplateNewUser" value="/Contents/Modules/Sys/EmailTemplates/_TemplateNewUser.cshtml" />
 <add key="EmailTemplates_TemplateNewEnterprise" value="/Contents/Modules/Sys/EmailTemplates/_TemplateNewEnterprise.cshtml" />
 <add key="EmailTemplates_TemplateResetTouristPassword" value="/Contents/Modules/Sys/EmailTemplates/_TemplateResetTouristPassword.cshtml" />
 <add key="EmailTemplates_TemplateOrderProgram" value="/Contents/Modules/Sys/EmailTemplates/_TemplateOrderProgram.cshtml" />
 <add key="EmailTemplates_TemplateFeedback" value="/Contents/Modules/Sys/EmailTemplates/_TemplateFeedback.cshtml" />
 <add key="EmailTemplates_TemplateBookYourOwnDesignProgram" value="/Contents/Modules/Sys/EmailTemplates/_TemplateBookYourOwnDesignProgram.cshtml" />
 <add key="EmailTemplates_TemplateBookRoom" value="/Contents/Modules/Sys/EmailTemplates/_TemplateBookRoom.cshtml" />
 <add key="EmailTemplates_TemplateBookTable" value="/Contents/Modules/Sys/EmailTemplates/_TemplateBookTable.cshtml" />
 <add key="EmailTemplates_TemplateResetPassword" value="/Contents/Modules/Sys/EmailTemplates/_TemplateResetPassword.cshtml" />
 <add key="EmailTemplates_TemplateNotify" value="/Contents/Modules/Sys/EmailTemplates/_TemplateNotify.cshtml" />
 <add key="EmailTemplates_TemplateUpdateStatusRequest" value="/Contents/Modules/Sys/EmailTemplates/_TemplateUpdateStatusRequest.cshtml" />
 <add key="EmailTemplates_TemplateSendNotifyInv" value="/Contents/Modules/Sys/EmailTemplates/_TemplateSendNotifyInv.cshtml" />
 <add key="MailTemplate_BusinessOpportunityMemberAdded" value="THONGBAONGUOITHAMGIA" />
 <add key="MailTemplate_BusinessOpportunityMemberRemoved" value="XOANGUOITHAMGIA" />
 <add key="MailTemplate_OpportunityPlanCreated" value="KEHOACHKINHDOANH_MOITAO" />
 <add key="MailTemplate_OpportunityPlanRelatedPersonAdded" value="KEHOACHKINHDOANH_THEMNGUOILIENQUAN" />
 <add key="MailTemplate_OpportunityPlanReminder1Day" value="KEHOACHKINHDOANH_NHACLICH_1NGAY" />
 <add key="MailTemplate_OpportunityPlanReminder30Min" value="KEHOACHKINHDOANH_NHACLICH_30PHUT" />
 <add key="MailTemplate_BusinessOpportunityUpdateStatus" value="COHOIKINHDOANH_CAPNHATTRANGTHAI" />
 <add key="MailTemplate_ProjectTaskCreated" value="CONGVIEC_KHOITAO" />
 <add key="MailTemplate_ProjectTaskUpdated" value="CONGVIEC_CAPNHAT" />
 <add key="MailTemplate_ProjectTaskLog" value="CONGVIEC_CAPNHATNHATKY" />
 <add key="MailTemplate_ProjectMemberAdded" value="DUAN_THEMNGUOITHAMGIA" />
 <add key="MailTemplate_ProjectMemberRemoved" value="DUAN_XOANGUOITHAMGIA" />
 <add key="MailTemplate_ReminderReport" value="DUAN_COHOI_NHACNHOCAPNHAT" />
 <add key="Logo_VNPT_Path" value="\Contents\Base\imgs\bg-vnpt.png" />
 <add key="Logo_App_Path" value="\Contents\Base\imgs\bg-toc.jpg" />
 <add key="RefDocs_PathFolder" value="/Contents/Modules/Major/RefDocs/" />
 <add key="RefTemplates_PathFolder" value="/Contents/Modules/Major/Templates/" />
 <add key="AppLibraryNotifyPath" value="/Libraries/Notifies" />
 <add key="API_PAKN_Host" value="https://tuongtac.khanhhoa.gov.vn:6899/" />
 <add key="API_PAKN_GetUnitField" value="/api/recommendation/get-data-for-search" />
 <add key="API_PAKN_GetComplain" value="/api/Visitor/get-list-recommentdation-by-field" />
 <add key="Job_SyncComplain_DefaultUnit" value="8359" />
 <add key="Job_SyncComplain_DefaulField" value="1114;2118" />
 <add key="projectIdFirebase" value="cskh-khawassco-app" />
 <add key="fileConfigJSONFirebase" value="cskh-khawassco-app-firebase-adminsdk-fbsvc-2335b9910d.json" />
 <add key="CenIT_Report_FolderPath" value="/Libraries/Reports" />
 <add key="pathBannerImage" value="/Contents/imgs/banners/" />
 <add key="pathNewsImage" value="/Contents/imgs/news/" />
 <add key="AppImageRoot_Path" value="/Contents/imgs" />
 <add key="PAYMENTONLINE_PRIVATEKEY" value="22a4e81f0f88549a70c555e11050af1b7e5564f01ae30f1971b5193d79216e94" />
 <add key="HDDT_BusinessService" value="https://kinhtehatangphuongnhatrang-tt78admindemo.vnpt-invoice.com.vn/businessService.asmx" />
 <add key="HDDT_PortalService" value="https://kinhtehatangphuongnhatrang-tt78admindemo.vnpt-invoice.com.vn/PortalService.asmx" />
 <add key="HDDT_PublishService" value="https://kinhtehatangphuongnhatrang-tt78admindemo.vnpt-invoice.com.vn/publishService.asmx" />
 <add key="HDDT_Username" value="pktntservice" />
 <add key="HDDT_Password" value="Pkt@2025" />
 <add key="HDDT_DataDemo" value="2/001;C25MAA;00000003" />
 <add key="API_KHAWASSACO_APIURL" value="https://vnpt.ctnkh.com.vn/Bank/ARService.svc/" />
 <add key="API_KHAWASSACO_AUTHURL" value="https://vnpt.ctnkh.com.vn/Services/AuthenticationTokenService.svc/Authenticate" />
 <add key="API_KHAWASSACO_SECUREKEY" value="khawassco1112" />
 <add key="API_KHAWASSACO_USERNAME" value="VNPTMONEY" />
 <add key="API_KHAWASSACO_PASSWORD" value="VNPTMoneyKh@wassco1112" />
 <add key="EForm_AllowedExtensionsUpload" value=".pdf,.jpg,.jpeg,.png,.gif,.tif" />
 <add key="EForm_UploadFolderPath" value="/Contents/Files/EForm" />
 <add key="Email_ISSENDEMAIL" value="1" />
 <add key="SMS_BRANDNAME_ISSENDSMS" value="0" />
 <add key="BASE_URL_SMS_API" value="http://123.31.36.151:8888" />
 <add key="URL_SMS_BRANDNAME" value="/smsmarketing/api" />
 <add key="SMS_BRANDNAME_AGENTID" value="250" />
 <add key="SMS_BRANDNAME_APIPASS" value="12345" />
 <add key="SMS_BRANDNAME_APIUSER" value="KCO_CS" />
 <add key="SMS_BRANDNAME_CONTRACTID" value="8211" />
 <add key="SMS_BRANDNAME_CONTRACTTYPEID" value="1" />
 <add key="SMS_BRANDNAME_LABELID" value="97692" />
 <add key="SMS_BRANDNAME_TEMPLATEID" value="11454585" />
 <add key="SMS_BRANDNAME_USERNAME" value="KHAWASSCO" />
 <add key="URL_REDIRECT_SUPPORTSCREEN" value="khawassco://screen/customerSupportScreen" />
 <add key="URL_REDIRECT_WATEROUTAGES" value="khawassco://screen/powerSchedule" />
 <add key="SMS_BRANDNAME_MINUTEEXPIREDOTP" value="5" />
 <add key="SMSTemplate_BOMemberAdded" value="BO_THEMNGUOITHAMGIA" />
 <add key="SMSTemplate_BOMemberDeleted" value="BO_XOANGUOITHAMGIA" />
 <add key="SMSTemplate_BOUpdateStatus" value="BO_CAPNHATTRANGTHAI" />
 <add key="SMSTemplate_KHKDCreated" value="KEHOACHKINHDOANH_MOITAO" />
 <add key="SMSTemplate_KHKDMemberAdded" value="KEHOACHKINHDOANH_THEMNGUOILIENQUAN" />
 <add key="SMSTemplate_ProjectMemberAdded" value="DUAN_THEMNGUOITHAMGIA" />
 <add key="SMSTemplate_ProjectMemberDeleted" value="DUAN_XOANGUOITHAMGIA" />
 <add key="MONTH_NUMBER" value="-3" />
 <add key="VNPT_MailServer_URL" value="email.vnpt.vn" />
 <add key="VNPT_MailServer_Port" value="587" />
 <add key="VNPT_MailServer_EnableSsl" value="false" />
 <add key="VNPT_Email_Extension" value="@vnpt.vn" />
 <add key="App_HostUrl" value="http://crm.cenit.vn/" />
 <add key="Chatbot_BaseUrl" value="https://api.chatbot.cenit.vn" />
 <add key="Chatbot_ApiKey" value="vnpt_mJZGvvoKbN1SvykykHTOQ80J-F9XvZqP" />
 <add key="Chatbot_BotId" value="cmrx7dsa60008jpjxgtg39gwp"/>
 <add key="appCode" value="CRM_DEMO" />
 <add key="ssoPortalBaseUrl" value="http://ssovnpt.cenit.vn/Login.aspx" />
 <add key="ssoServiceUrl" value="http://ssovnpt.cenit.vn/Info.asmx" />
</appSettings>
